/*
breakpoints
X-Small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px
*/

:root {
  --f-xxxs: 0.5rem;
  --f-xxs: 1rem;
  --f-xs: 1.5rem;
  --f-sm: 2rem;
  --f-md: 2.5rem;
  --f-lg: 4rem;
  --f-xl: 6rem;
  --f-xxl: 7rem;
}

.theTron {
  background-image: url("/images/fenceSun.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vw;
}
.fenceTitle {
  font-size: var(--f-xxl);
  line-height: 5vw;
  letter-spacing: -2px;
  margin-top: 15vh;
}

.subTitle {
  font-size: var(--f-md);
}

#stain {
  background-image: url(/images/stain1.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.container {
  position: relative;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}
.serviceText {
  position: absolute;
  bottom: 20%;
  left: 20%;
  font-size: var(--f-sm);
}
@media screen and (max-width: 1200px) {
  .fenceTitle {
    font-size: var(--f-xl);
  }
  .subTitle {
    font-size: var(--f-sm);
  }
}
@media screen and (max-width: 900px) {
  .fenceTitle {
    font-size: var(--f-lg);
    margin-top: 12vh;
  }
  .subTitle {
    font-size: var(--f-xs);
  }
}
@media screen and (max-width: 550px) {
  .fenceTitle {
    font-size: var(--f-md);
    margin-top: 8vh;
  }
  .subTitle {
    font-size: var(--f-xxs);
  }
}
@media screen and (max-width: 350px) {
  .fenceTitle {
    font-size: var(--f-xs);
    margin-top: 5vh;
  }
  .subTitle {
    font-size: var(--f-xxxs);
  }
}
